.task-card-container {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    background-color: #f9f9f9;
}

.task-card-container > :nth-child(2) {
    align-self: center; 
}

.task-card-container > :last-child {
    align-self: end; 
}

.task-card-container p {
    margin: 0;
    padding: 5px 0;
}

.task-card-actions-container {
    display: flex;
    justify-content: space-between;
}